body{ 
 background:linear-gradient(90deg,#004e92,#000428);
 box-sizing: border-box;
}

h3{
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: white;
}

.itemStyling:hover{
  background-color: lightgray;
  transition: 0.2s ease;
}

.selectedItem{
  background-color: black;
  color: white;
}

.levelBox{
  background-color: lightgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.skillItem{
  background-color: lightgray;
}
